html {
    background-image: linear-gradient( #ffcf00,#ff5722);
  }
  .example-card {
    margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        
       
        background-color: white;
        padding: 60px 0 40px 0;
        
    
  }
  .input{
    width:275px;
  }
  
  .login{
    background-color: #0091ea;
    margin-left: 40%;
    
    
  }
  #outside{
    display: inline-block;
    width: 200%;
    margin-left: 70%;
    
    
  }
  #inside{
    display: inline-block;
    width: 200%;
    
    margin-left: 35%;
  }
  .buttonui{
    color:red;
    

  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }