<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    </head>
<body>
    <!-- <h1>{{title}}</h1>
    <button mat-button (click)="increment()">click me</button>
    <p>score: {{count}}</p>
    <div>
        <input type="text" [(ngModel)]="name" >
        <p>welcome: {{name}}</p>
    </div>
    <div>
        <input type="text" [(ngModel)]="username" (ngModelChange)="greet($event)">
        <p>welcome: {{username}}</p>
    </div> -->
    
    <div id="ex">
        <br>
        <br>
        <br>
        <br>
        <tr>
            <td>
                
                <div class="row" id="outside">
                    
                    <mat-card class="example-card">
                        <img width="450px" src="/assets/login1.gif" />
                    </mat-card>
                </div>
            </td>
            <td>
                <!-- <img src="image1.gif"> -->
                <div class="row" id="inside">
                <mat-card class="login">
                    <mat-card-title>Login</mat-card-title>
                    <pre><h2>Hello! Let's get started.</h2></pre>
                
                    <p>
                        <mat-form-field appearance="outline" class="input">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="xyz@gmail.com">
                        <mat-icon matSuffix>email</mat-icon>
                        
                        
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="outline" class="input">
                            
                            <mat-label>Password</mat-label>
                            <input type="password" matInput placeholder="$#@!">
                            <mat-icon matSuffix>lock</mat-icon>
                            <mat-hint>Forgot Password?</mat-hint>
                        </mat-form-field>
                    </p>
                    <button mat-fab color="primary" class="buttonui"> 
                        <mat-icon matSuffix>arrow_forward</mat-icon>
                    </button>
                    <br>
                    <br>
                    <br>
                    <pre><mat-hint>Don't have an account? <a>Register</a> </mat-hint></pre>
                
                </mat-card>
            </div>
        </td>
    </tr>
            <!-- <mat-card-header>
            
            
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
            </mat-card-content>
            <mat-card-actions>
                
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            </mat-card-actions> -->
            <br>
            <br>
            <br><br><br><br>
       
    
    </div>

    
</body>
</html>
